In [200]:
import pandas as pd
import re

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/alexromero/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/alexromero/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [201]:
df = pd.read_csv('/Users/alexromero/Bootcamp/lululemonSelenium/men/lululemon.csv')
pd.options.display.max_colwidth = 100

In [202]:
df.text[0]

'This roller is amazing. I wasnâ€™t sure if I liked the color schemes but the function out performed its colors. Definitely a must have. Lulu, would you offer more colors for this roller?'

In [203]:
print(df.shape)
# There are 1622 product reviews

## Pre process data
df['date_Published'] = pd.to_datetime(df['datePublished'], infer_datetime_format=True)
df['responseDate'] = pd.to_datetime(df['responseDate'], infer_datetime_format=True)

df['product'] = [re.sub('\n', ' ', product) for product in df['product']]

# Strip ratings 
new_user_rating = [string.replace(' out of 5', '') for string in df['user_rating']]
new_average_rating = [string.replace(' out of 5', '') for string in df['average_rating']]

df['user_rating'] = new_user_rating
df['average_rating'] = new_average_rating

(1815, 19)

In [204]:
df.dtypes

product                   object
list_price                 int64
average_rating            object
user_rating               object
user                      object
location                  object
athleticType              object
ageRange                  object
bodyType                  object
like                      object
not_like                  object
fit                       object
title                     object
datePublished             object
text                      object
responseDate      datetime64[ns]
response                  object
helpfulYes                 int64
helpfulNo                  int64
date_Published    datetime64[ns]
dtype: object

In [295]:
df['user_rating'] = df['user_rating'].astype(float)
df['average_rating'] = df['average_rating'].astype(float)

## Categorize products by category and category type detail

In [296]:
df['gender'] = 'male'
df['category'] = ''
df['categoryType'] = ''

In [297]:
short_sleeves = df[df['product'].str.contains('Short Sleeve')]
short_sleeves['category'] = 'top'
short_sleeves['categoryType'] = 'short sleeve'
df[df['product'].str.contains('Short Sleeve')] = short_sleeves

In [298]:
roller = df[df['product'] == 'Double Roller']
roller['category'] = 'accessory'
roller['categoryType'] = 'yoga mats/props'
df[df['product'] == 'Double Roller'] = roller

In [299]:
shorts = df[df['product'].str.contains('Short') & ~df['product'].str.contains('Jogger') & ~df['product'].str.contains('Sleeve')]
shorts['category'] = 'bottom'
shorts['categoryType'] = 'shorts'
df[df['product'].str.contains('Short') & 
   ~df['product'].str.contains('Jogger') & 
   ~df['product'].str.contains('Sleeve')] = shorts

In [300]:
long_sleeve = df[df['product'].str.contains('Long Sleeve') | df['product'].str.contains('Henley') | df['product'].str.contains('Hoodie') | df['product'].str.contains('Zip')]
long_sleeve['category'] = 'top'
long_sleeve['categoryType'] = 'long sleeve'
df[df['product'].str.contains('Long Sleeve') |
                 df['product'].str.contains('Henley') |
                 df['product'].str.contains('Hoodie') |
                 df['product'].str.contains('Zip')] = long_sleeve

In [301]:
tanks = df[df['product'].str.contains('Tank')]
tanks['category'] = 'top'
tanks['categoryType'] = 'tank'
df[df['product'].str.contains('Tank')] = tanks

In [302]:
tights = df[df['product'].str.contains('Tight')]
tights['category'] = 'bottom'
tights['categoryType'] = 'tights'
df[df['product'].str.contains('Tight')] = tights

In [303]:
backpacks = df[df['product'].str.contains('Backpack')] 
backpacks['category'] = 'accessory'
backpacks['categoryType'] = 'bag'
df[df['product'].str.contains('Backpack')] = backpacks

In [304]:
hats = df[df['product'].str.contains('Hat') | df['product'].str.contains('Headband')]
hats['category'] = 'accessory'
hats['categoryType'] = 'hat'
df[df['product'].str.contains('Hat') | df['product'].str.contains('Headband')] = hats

In [305]:
joggers = df[df['product'].str.contains('Jogger')]
joggers['category'] = 'bottom'
joggers['categoryType'] = 'jogger'
df[df['product'].str.contains('Jogger')] = joggers

In [306]:
jackets = df[df['product'].str.contains('Jacket') | df['product'].str.contains('Vest')]
jackets['category'] = 'top'
jackets['categoryType'] = 'jackets + coats'
df[df['product'].str.contains('Jacket') | df['product'].str.contains('Vest')] = jackets

In [307]:
socks_bottles = df[df['product'].str.contains('Sock') | df['product'].str.contains('Bottle')]
socks_bottles['category'] = 'accessory'
socks = socks_bottles[socks_bottles['product'].str.contains('Sock')]
socks['categoryType'] = 'socks + underwear'
socks_bottles[socks_bottles['product'].str.contains('Sock')] = socks
bottles = socks_bottles[socks_bottles['product'].str.contains('Bottle')]
bottles['categoryType'] = 'water bottle'
socks_bottles[socks_bottles['product'].str.contains('Bottle')] = bottles
df[df['product'].str.contains('Sock') | df['product'].str.contains('Bottle')] = socks_bottles

In [308]:
kit = df[df['product'].str.contains('Kit')]
kit['category'] = 'top'
kit['categoryType'] = 'short sleeve'
df[df['product'].str.contains('Kit')] = kit

In [309]:
df[df['category'] == '']

Empty DataFrame
Columns: [product, list_price, average_rating, user_rating, user, location, athleticType, ageRange, bodyType, like, not_like, fit, title, datePublished, text, responseDate, response, helpfulYes, helpfulNo, date_Published, gender, category, categoryType, text length]
Index: []

[0 rows x 24 columns]

In [310]:
df.head()

,product,list_price,average_rating,user_rating,user,location,athleticType,ageRange,bodyType,like,...,text,responseDate,response,helpfulYes,helpfulNo,date_Published,gender,category,categoryType,text length
0,Double Roller,58,4.8,5.0,MESMERIZEME96789,"MILILANI, HI, USA",RUNNER,25-34,ATHLETIC,functional,...,This roller is amazing. I wasnâ€™t sure if I liked the color schemes but the function out performe...,NaT,NaN,1,0,2018-07-26,male,accessory,yoga mats/props,184
1,Double Roller,58,4.8,5.0,NAZANIN,"BETHESDA, MD",SWEATY GENERALIST,25-34,ATHLETIC,"color, design, versatile, effective, size",...,It hurts like a you know what but the results are what I need after training. Props to lulu for ...,NaT,NaN,1,0,2018-05-09,male,accessory,yoga mats/props,510
2,Double Roller,58,4.8,5.0,JORDANNE00,"RALEIGH, NC",SWEATY GENERALIST,25-34,ATHLETIC,"grooves, double roller feature",...,I have a love/hate relationship with this thing! I love it because it does it's job and helps ro...,NaT,NaN,1,0,2018-05-01,male,accessory,yoga mats/props,604
3,Double Roller,58,4.8,4.0,THEGIRLNEXTDOOR,"SEATTLE, WA, USA",SWEATY GENERALIST,18-24,ATHLETIC,"versatility, design, color",...,"This roller is a fairly decent one. Its a sweet deal, you get two for the price of one! The oute...",NaT,NaN,1,0,2018-04-29,male,accessory,yoga mats/props,412
4,Metal Vent Tech Short Sleeve,68,2.7,5.0,YOGIHOLIC,"DALLAS, TX, USA",SWEATY GENERALIST,25-34,ATHLETIC,NaN,...,"I was pretty stoked having my first lululemon shirt, and this shirt has been the most durable du...",NaT,NaN,0,0,2018-08-05,male,top,short sleeve,253

In [313]:
df.shape

(1815, 24)

In [314]:
df.dtypes

product                   object
list_price                 int64
average_rating           float64
user_rating              float64
user                      object
location                  object
athleticType              object
ageRange                  object
bodyType                  object
like                      object
not_like                  object
fit                       object
title                     object
datePublished             object
text                      object
responseDate      datetime64[ns]
response                  object
helpfulYes                 int64
helpfulNo                  int64
date_Published    datetime64[ns]
gender                    object
category                  object
categoryType              object
text length                int64
dtype: object

In [316]:
df.isnull().sum()

product              0
list_price           0
average_rating       0
user_rating          0
user                 0
location           365
athleticType       341
ageRange           286
bodyType           296
like               756
not_like           860
fit               1569
title                0
datePublished        0
text                 0
responseDate      1071
response          1071
helpfulYes           0
helpfulNo            0
date_Published       0
gender               0
category             0
categoryType         0
text length          0
dtype: int64

In [311]:
df.to_csv('lululemon_final.csv')